<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>

<body>
<div th:replace="fragments :: page-header"></div>

<form method="post" id="eventForm">
    <div class="form-group">
        <label th:for="eventName">Name:</label>
        <input type="text" name="eventName" />
        <br />
        <label th:for="eventDesc">Description:</label>
        <br>
        <textarea name="eventDesc" id="eventDesc" form="eventForm" placeholder="Describe your event here"></textarea>
        <br />
        <label th:for="startDate">Starting Date:</label>
        <input type="date" name="startDate" />
        <label th:for="startTime">Starting Time:</label>
        <input type="time" name="startTime" />
        <br />
        <div id="endDTDiv">
        <label th:for="endDate">End Date:</label>
        <input type="date" name="endDate" />
        <label th:for="endTime">End Time:</label>
        <input type="time" name="endTime" /></div>

        <button type="button" value="Remove End Time" id="endToggleButton">Remove End Time</button>

        <div unless="${logged}">
            <h5>Sign up for your event:</h5>
            <br />
            <label th:for="cName">Username:</label>
            <input type="text" name="cName" />
            <br />
            <label th:for="cPass">Password:</label>
            <input type="password" name="cPass" />
            <br />
            <label th:for="confirm">Confirm Password:</label>
            <input type="password" name="confirm" />
            <span th:if="${badpass}">Passwords Don't Match!</span>
        </div>

        <div id="logStatus" style="display:none" value="${logged}" th:text="${logged}"></div>

        <input type="submit" name="submit" id="submit" />

        <!-- Implement with modal. Javascript also to be implemented
        <button value="Submit" onclick="submitEvent()">Submit</button> -->

    </div>
</form>

<!-- Old submission input/button:
        <div id="loginButton" th:style="${logged == true ? 'display:none' : 'display:block'}">
            <button value="Login" onclick="submitEvent">Submit</button>
        </div>
        <div id="submitButton" th:style="${logged == true ? 'display: block' : 'display:none'}">
            <input type="submit" name="submit" id="submit" />
        </div> -->

<div th:replace="fragments :: script-import"></div>
<script>
    document.getElementById('endToggleButton').addEventListener("click", endToggle);

    function endToggle() {
    var status = document.getElementById("endDTDiv");
    var button = document.getElementById("endToggleButton");
    if (status.style.display === "none") {
        status.style.display = "block";
        button.value = "Remove End Time";
        button.innerHTML = "Remove End Time";
    } else {
        status.style.display = "none";
        button.value = "Add End Time";
        button.innerHTML = "Add End Time";
    }
}
</script>
</body>
</html>